
@{
    ViewData["Title"] = "Страница задержки";
}

@section Scripts {
    <script>
        var time_to_redirect = 10;
        //setTimeout(RedirectToIndex, time * 1000);
        TimerAndPrint(time_to_redirect);
    </script>
}


    <p id="text_time"></p>
<a asp-action="Index">Вернуться к списку товаров</a>
