
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a asp-action="Create">Добавить пользователя</a>
<table class="table">
    <tr><td>Название</td><td>Цена</td><td>Количество</td></tr>
    @foreach (var item in ViewBag.Goods)
    {
        <tr><td>@item.Name</td><td>@item.Price</td><td>@item.Count</td></tr>
    }
</table>