
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a asp-action="Create">Добавить пользователя</a>
<div class="product-list">
    
    @foreach (var item in ViewBag.Goods)
    {
       
        <div class="product-item">
            <div class="product-item-img" style="background-image: url(/Img/mystic-nature.jpg)">

            </div>
            <div class="product-item-defenition">
                <div class="product-item-defenition-name">@item.Name</div>
                <div class="product-item-defenition-def">Описание</div>
            </div>
            <div class="product-item-price">
                <p>@item.Price руб</p>
                кол-во: @item.Count </div>
            <div class="product-item-buttons">
                <form asp-action="Buy" method="get" asp-route-id="@item.Id">
                    <div class="form-group">
                        <input type="submit" value="Купить" />
                    </div>
                </form>
            </div>
        </div>
         
        
    }
</div>